<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rezero">
    <!-- 인터넷 권한 선언 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Woman"
            android:exported="true" />
        <activity
            android:name=".Pet"
            android:exported="true" />
        <activity
            android:name=".Cosm"
            android:exported="true" />
        <activity
            android:name=".Food"
            android:exported="true" />
        <activity
            android:name=".Product_registration_write"
            android:exported="true" />
        <activity
            android:name=".Book"
            android:exported="true" />
        <activity
            android:name=".Pancy"
            android:exported="true" />
        <activity
            android:name=".Living"
            android:exported="true" />
        <activity
            android:name=".Bath"
            android:exported="true" />
        <activity
            android:name=".designer_buy_detail"
            android:exported="true" />
        <activity
            android:name=".Designer_buy"
            android:exported="true" />
        <activity
            android:name=".SettingP"
            android:exported="true" />
        <activity
            android:name=".point"
            android:exported="true" />
        <activity
            android:name=".Coupon"
            android:exported="true" />
        <activity
            android:name=".Product_registration"
            android:exported="true" />
        <activity
            android:name=".DesignerList"
            android:exported="true" />
        <activity
            android:name=".Paid"
            android:exported="true" />
        <activity
            android:name=".Drequest"
            android:exported="true" />
        <activity
            android:name=".Order"
            android:exported="true" />
        <activity
            android:name=".Cart"
            android:exported="true" />
        <activity
            android:name=".Designer"
            android:exported="true" />
        <activity
            android:name=".product_like"
            android:exported="true" />
        <activity
            android:name=".BuyBtnBottomSheet"
            android:exported="true" />
        <activity
            android:name=".SelectProduct"
            android:exported="true" />
        <activity
            android:name=".PricesortBtnBottomSheet"
            android:exported="true" />
        <activity
            android:name=".CategoryBtnBottomSheet"
            android:exported="true" />
        <activity
            android:name=".SortBtnBottomSheet"
            android:exported="true" />
        <activity
            android:name=".Kitchen"
            android:exported="true" />
        <activity
            android:name=".MissionFragment"
            android:exported="true" />
        <activity
            android:name=".NewFragment"
            android:exported="true" />
        <activity
            android:name=".BestFragment"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/searchable" />

        <activity
            android:name=".Re"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Zero"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login_1_activity"
            android:exported="true" />
        <!--
 메인화면으로 설정
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        -->
        <!-- eunsoo -->
        <activity android:name=".login_new_activity" />
        <activity android:name=".new_user_1_activity" />
        <activity android:name=".new_designer_1_activity" />
        <activity android:name=".new_designer_2_activity" />
        <activity android:name=".new_user_success_activity" />
        <activity android:name=".login_find_activity" />
        <activity android:name=".login_id_success" />
        <activity android:name=".login_id_fail" />
        <activity android:name=".login_pwd_new2_activity" />
        <activity android:name=".login_pwd_new_activity" />
        <activity android:name=".user_mypage_1_activity" />
        <activity android:name=".designer_mypage_1" />
        <activity android:name=".user_mypage_name_activity" />
        <activity android:name=".user_mypage_delivery_activity" />
        <activity android:name=".user_mypage_notice_activity" />
        <activity android:name=".user_mypage_review_activity" />
        <activity android:name=".user_mypage_2_delete_activity" />
        <activity android:name=".user_mypage_2_info_activity" />
        <activity android:name=".user_mypage_2_info_bank_activity" />
        <activity android:name=".user_mypage_2_info_phone_activity" />
        <activity android:name=".user_mypage_2_info_pwd_activity" />
        <activity android:name=".user_mypage_2_info_bank_success" />
        <activity android:name=".user_mypage_2_info_phone_success" />
        <activity android:name=".user_mypage_notice_2_activity" />
    </application>

</manifest>